* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    background-color: antiquewhite;
    padding-bottom: 50px;
}

.background{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 70px;
    padding-left: 10%;
    padding-right: 10%;
}

/* Probability setting */
#sels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
                    
.sel{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 50%;
}

.dot{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color{
    border-radius: 100%;
    border: 2px solid whitesmoke;
    width: 30px;
    height: 30px;
}

.award{
    width: 60%;
}

.prob{
    width: 30%;
    text-align: right;
}

.text-box{
    margin: 0.375rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.sel input:focus{
    outline: 0;
    box-shadow: 2px 2px 8px gray;
}

/* Wheel */
#wheel{
    position: relative;
    width: 400px;
    height: 400px;
    border: solid yellow 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: white;
    animation: rotate 5s linear infinite;
}

#left-mask{
    position: absolute;
    float: left;
    overflow: hidden;  
    width: 200px;
    height: 400px;
}

.piece{
    position: absolute;
    float: left;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

/* animation */
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* RWD */
@media screen and (max-width: 500px){
    #wheel{
        width: 300px;
        height: 300px;
    }

    #left-mask{
        width: 150px;
        height: 300px;
    }

    .piece{
        width: 300px;
        height: 300px;
        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    }
}

@media screen and (max-width: 440px){
    .sel{
        width: 100%;
    }
}

@media screen and (max-width: 375px){
    #wheel{
        width: 250px;
        height: 250px;
    }

    #left-mask{
        width: 125px;
        height: 250px;
    }

    .piece{
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 300px){
    #wheel{
        width: 200px;
        height: 200px;
    }

    #left-mask{
        width: 100px;
        height: 200px;
    }

    .piece{
        width: 200px;
        height: 200px;
    }
}